@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*
Developer: Alexis Tibbs 
Drexel User: ajt347
Sugar Food Recipe Site
*/

/*GENERAL STYLES*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --logo-font:'Istok Web', sans-serif;
    --regular-font:'Biryani', sans-serif;
}

.sugarText {
    font-family: var(--logo-font);
    color: #FFFFF5;
    font-weight: 700;
}

.sugarPink {
    background-color: #FF6BA0;
}

.linkText {
    font-family: var(--regular-font);
    color: #FFFFF5;
}

h2 {
    font-family: var(--logo-font);
}
h3, p {
    font-family: var(--regular-font);
}



/*HEADER*/
/* 01 NAVIGATION BAR*/
.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
    overflow: hidden;
    display: flex;
    padding: 4px 36px;
    height: 60px;
}

.realSugarHeader {
    margin-top: 60px;
    height: 200px;
    background-image: url('images/sugarheader.jpg'); /*figure out how to resie the background iamge*/
    background-position: center;
    background-repeat: no-repeat;
    display: flex;

}

/*logo*/
.logo {
    display: flex;
}
.navLogoResize {
    height: 26px;
    width: auto;
}
.sugarTextLogo {
    font-size: 18px;
    font-weight: 600;
    padding: 0 8px;
    margin: auto;
}

.sugarHeader {
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-size: 42px;
    text-shadow: 2px 4px 10px rgba(58, 42, 103, .4);

}

.leftNav {
    display: flex;
    align-items: center;
}

#navOptions li {
    display: inline;
    padding: 0px 24px;
}

.rightNav {
    margin: auto 0 auto auto;
}

/*SEARCH BAR*/
.navSearch {
    width: 340px;
    padding: 0 10px;
    height: 32px;
}

/*END HEADER*/


/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.footerContainer {
    display: flex;
}

.footerContainer > div {
    padding: 0 10px;
}

.footerLogoResize {
    height: 80px;
    width: auto;
}
.soSweet {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
}
.footerText {
    text-align: center;
    margin: auto;
}
.footerSugarFood {
    font-size: 40px;
}

/* Recipe Category Listin*/

.CategoryListMain {
    min-height: 550px;
    display: flex;
    justify-content: flex-end;
}

/*Filter Black Box*/
.recipeFilter {
    background-color: #09080F;
    color:#FFFFF5;
    min-height: 370px;
    padding: 24px;
}

.categoryMealTypeButtons {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}

.categoryMealTypeButtons > * {
    border: .7px solid #FFFFF5;
    background-color: #09080F;
    color: #FFFFF5;
    padding: 6px 10px;;
    text-align: left;
    font-size: 12px;
    font-family: var(--regular-font);
}

.filterBy {
    font-size: 20px;
}
.biryanna {
    font-weight: 200;
    font-size: 14px;
    margin: 14px 0;
    border-bottom: .5px solid #FFFFF5;
}

.ingredientSearch {
    width: 150px;
}

.filterForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.filterSubmitButton {
    margin-top: 30px;
    background-color: #E1EE8F;
    border: none;
    padding: 12px 0;
    font-family: var(--logo-font);
    font-weight: 700;
}

/*RIGHT SIDE*/

.recipeListBody {
    width: 620px;
    display: block;
}

.recipeListContainer {
    height:160px;
    background-color: #FF6BA0;
    margin: 10px 0;
}

.centerCatLM {
    overflow: hidden;
    margin-left: 10%;
    margin-right: 26%;
    background-color: blue;
}

.categoryItemImg {
    width: auto;
    height: 100%;
}